################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Release/zlib1.dll
/x64/Release/vcpkg.applocal.log
/x64/Release/vc141.pdb
/x64/Release/opencv_imgproc.dll
/x64/Release/opencv_core.dll
/x64/Release/main.obj
/x64/Release/LineDetection3D.obj
/x64/Release/CommonFunctions.obj
/x64/Release/3DSegmentation.vcxproj.CopyComplete
/x64/Release/3DSegmentation.tlog/link.write.1.tlog
/x64/Release/3DSegmentation.tlog/link.read.1.tlog
/x64/Release/3DSegmentation.tlog/link.command.1.tlog
/x64/Release/3DSegmentation.tlog/CL.write.1.tlog
/x64/Release/3DSegmentation.tlog/CL.read.1.tlog
/x64/Release/3DSegmentation.tlog/CL.command.1.tlog
/x64/Release/3DSegmentation.tlog/3DSegmentation.write.1u.tlog
/x64/Release/3DSegmentation.tlog/3DSegmentation.lastbuildstate
/x64/Release/3DSegmentation.tlog
/x64/Release/3DSegmentation.pdb
/x64/Release/3DSegmentation.log
/x64/Release/3DSegmentation.ilk
/x64/Release/3DSegmentation.exe
/x64/Release/3DSegmentation.Build.CppClean.log
/x64/Release
/x64/Debug/zlibd1.dll
/x64/Debug/vcpkg.applocal.log
/x64/Debug/vc141.pdb
/x64/Debug/vc141.idb
/x64/Debug/opencv_imgprocd.dll
/x64/Debug/opencv_cored.dll
/x64/Debug/main.obj
/x64/Debug/LineDetection3D.obj
/x64/Debug/CommonFunctions.obj
/x64/Debug/3DSegmentation.vcxproj.CopyComplete
/x64/Debug/3DSegmentation.tlog/link.write.1.tlog
/x64/Debug/3DSegmentation.tlog/link.read.1.tlog
/x64/Debug/3DSegmentation.tlog/link.command.1.tlog
/x64/Debug/3DSegmentation.tlog/CL.write.1.tlog
/x64/Debug/3DSegmentation.tlog/CL.read.1.tlog
/x64/Debug/3DSegmentation.tlog/CL.command.1.tlog
/x64/Debug/3DSegmentation.tlog/3DSegmentation.write.1u.tlog
/x64/Debug/3DSegmentation.tlog/3DSegmentation.lastbuildstate
/x64/Debug/3DSegmentation.tlog
/x64/Debug/3DSegmentation.pdb
/x64/Debug/3DSegmentation.log
/x64/Debug/3DSegmentation.ilk
/x64/Debug/3DSegmentation.exe
/x64/Debug
/x64
/CMakeLists.txt
/.vs/3DSegmentation/v15/ipch/AutoPCH/f0a12ca45a53dbec/LINEDETECTION3D.ipch
/.vs/3DSegmentation/v15/ipch/AutoPCH/f0a12ca45a53dbec
/.vs/3DSegmentation/v15/ipch/AutoPCH/d893460a3e83f714/LINEDETECTION3D.ipch
/.vs/3DSegmentation/v15/ipch/AutoPCH/d893460a3e83f714
/.vs/3DSegmentation/v15/ipch/AutoPCH/6c3981480e470d39/MAIN.ipch
/.vs/3DSegmentation/v15/ipch/AutoPCH/6c3981480e470d39
/.vs/3DSegmentation/v15/ipch/AutoPCH/32758dabf6226821/MAIN.ipch
/.vs/3DSegmentation/v15/ipch/AutoPCH/32758dabf6226821
/.vs/3DSegmentation/v15/ipch/AutoPCH/2751714879814641/MAIN.ipch
/.vs/3DSegmentation/v15/ipch/AutoPCH/2751714879814641
/.vs/3DSegmentation/v15/ipch/AutoPCH/149da7a68ee4098c/LINEDETECTION3D.ipch
/.vs/3DSegmentation/v15/ipch/AutoPCH/149da7a68ee4098c
/.vs/3DSegmentation/v15/ipch/AutoPCH/1450d916aa0900a9/MAIN.ipch
/.vs/3DSegmentation/v15/ipch/AutoPCH/1450d916aa0900a9
/.vs/3DSegmentation/v15/ipch/AutoPCH
/.vs/3DSegmentation/v15/Browse.VC.opendb
/.vs/3DSegmentation/v15/Browse.VC.db
/.vs/3DSegmentation/v15/.suo
/.vs/3DSegmentation/v15
